/* variables */
:root {
  --primario: #ffc107;
  --secundario: #0097a7;
  --oscuro: #212121;
}
/* /variables */

html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Krub", sans-serif;
  min-height: 100%;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  margin: 0;
}

.site-header {
  background-color: #ffffff;
}

.site-header nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .site-header nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-header nav a {
  color: var(--oscuro);
  font-size: 2.2rem;
  text-decoration: none;
  margin-bottom: 2rem;
}
.site-header nav a:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .site-header nav a {
    margin-bottom: 0;
  }
}

/* principal */

.hero {
  height: 45rem;
  background-image: url(../img/hero.jpg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container-hero {
  color: #ffffff;
  position: relative;
  z-index: 1;
  text-align: center;
}
.container-hero i {
  font-size: 5rem;
  color: var(--primario);
}
.button {
  background-color: var(--secundario);
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 5rem;
  display: inline-block;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2rem;
  border-radius: 0.5rem;
}
/* /principal */
